body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000;
  color: #eee;
  margin: 0;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 1148px;
  max-width: 80%;
  margin: auto;
  height: 50px;
  display: flex;
  align-items: center;
  position: relative;
  z-index: 100;
}

header a {
  margin-right: 48px;
}

/* carousel styles */
.carousel {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  margin-top: -50px;
  position: relative;
}

.carousel .list .item {
  position: absolute;
  inset: 0 0 0 0;
}

.carousel .list .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.carousel .list .item .content {
  position: absolute;
  top: 20%;
  left: 50%;
  width: 1140px;
  max-width: 80%;
  transform: translateX(-50%);
  padding-right: 30%;
  box-sizing: border-box;
  color: #fff;
  text-shadow: 0 5px 10px #000;
}

.carousel .list .item .content .author {
  font-weight: bold;
  letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .subtitle {
  font-weight: bold;
  font-size: 5em;
  line-height: 1.3em;
}

.carousel .list .item .content .subtitle {
  color: #8a2be2;
}

.carousel .list .item .content .buttons {
  display: grid;
  grid-template-columns: repeat(2, 130px);
  grid-template-rows: 40px;
  gap: 5px;
  margin-top: 20px;
}

.carousel .list .item .content button {
  border: none;
  background-color: #eee;
  letter-spacing: 3px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  font-weight: 500;
}

.carousel .list .item .content button:nth-child(2) {
  background-color: transparent;
  color: #eee;
  border: 1px solid #eee;
}

/* content thumbnail styles */
.thumbnail {
  position: absolute;
  bottom: 50px;
  left: 50px;
  width: max-content;
  z-index: 100;
  display: flex;
  gap: 20px;
}

.thumbnail .item {
  width: 150px;
  height: 220px;
  flex-shrink: 0;
  position: relative;
}

.thumbnail .item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.thumbnail .item .content {
  position: absolute;
  bottom: 10px;
  left: 10px;
  right: 10px;
}

.thumbnail .item .content .title {
  font-weight: bold;
}

/* carousel arrows */
.arrows {
  position: absolute;
  top: 80%;
  right: 52%;
  width: 300px;
  max-width: 30%;
  display: flex;
  align-items: center;
}

.arrows button {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #eee4;
  border: none;
  font-family: monospace;
  color: #fff;
  font-weight: bold;
  font-size: large;
  transition: 0.5s;
  z-index: 100;
}

.arrows button:hover {
  background-color: #eee;
  color: #555;
}

.carousel .list .item:nth-child(1) {
  z-index: 1;
}

.carousel .list .item:nth-child(1) .author,
.carousel .list .item:nth-child(1) .title,
.carousel .list .item:nth-child(1) .subtitle,
.carousel .list .item:nth-child(1) .description,
.carousel .list .item:nth-child(1) .buttons {
  transform: translateY(50px);
  filter: blur(20px);
  opacity: 0;
  animation: ShowContent 0.5s 1s linear forwards;
}

@keyframes ShowContent {
  to {
    opacity: 1;
    filter: blur(0);
    transform: translateY(0);
  }
}
