body {
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
  background-color: #000;
  color: #eee;
  margin: 0;
  font-size: 12px;
}

a {
  text-decoration: none;
  color: #eee;
}

header {
  width: 1148px;
  max-width: 80%;
  margin: auto;
  height: 58px;
  display: flex;
  align-items: center;
}

header a {
  margin-right: 48px;
}
